:root {
  --blue:#00aeff;
  --black: #423d3d;
  --grey: #978181;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  line-height: 1.4;
  max-width: 100%;
  overflow-x: hidden;
}

.header-navbar {
  background: var(--blue);
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
}

.header-logo {
  padding-top: 1rem;
}

.header-ul {
  display: flex;
  list-style: none;
}

.header-navs {
  padding: 1rem 1rem 0.5rem 1rem;
  border-left: 1px solid #fff;
  display: flex;
}

.flag-icon p {
  display: flex;
  color: #fff;
  margin: 0.5rem 0rem 0rem 0.5rem;
}

.whatsapp-icon {
  border-left: 0;
}

.header-logo img {
  width: 6rem;
}

.booking-nav-container {
  display: flex;
  background: #084482;
  border-radius: 30px 30px 30px 30px;
}

.booking-details-container {
  display: flex;
  align-items: center;
}

.booking-details-container img {
  width: 2.5rem;
  border-radius: 22px;
}

.booking-text {
  color: var(--blue);
  font-size: 0.7em;
  padding: 0px 10px;
}

.booking-contact {
  color: #fff;
}

.account-icon {
  display: flex;
  align-items: center;
}

.account-icon i {
  color:#fff;
  width: 2.5rem;
}

.account-icon p {
  color:#fff;
}

.heading {
  color: #fff;
  background-color: var(--grey);
  background: url(../images/v7-homepage1.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 340px;
}

.heading {
  text-align: center;
}

.header-main-heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  padding-top: 100px;
}

.header-sub-heading {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 100px;
}
 
 .heading-form {
  padding: 0 22% 1%;
  margin-top: -65px;
  position: sticky;
  top: 0;
 }

 .heading-text {
  padding: 4em 0em 1em 0em;
}

.hotel-search-form {
  background: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
}

.hotel-search-form .input {
  border: 1px solid var(--grey);
  padding: 10px 10px 10px 40px;
  margin: 45px 0px;
  border-radius: 5px;
  width: 35%;
}

.hotel-search-form-btn{
  background: var(--blue);
  padding: 10px 40px;
  border-radius: 5px;
  width: 40%;
  color: #fff;
}
 
.section-headings h2 {
  font-size: 24px;
  color: var(--black);
  font-weight: 700;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07)
}

.section-heading p {
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
}

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  padding: 0 20%;
}

 .box {
  margin-top: 20px;
  border: 1px solid var(--blue);
  border-radius: 4px;
  padding: 10px;
}
 .box h3 {
  color: var(--blue);
}

.box p {
  color: var(--grey);
  font-weight: 300;
}
.box:hover {
  background: var(--blue);
  transition: .3s ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.suggested_city h3:hover {
  color: #fff;
}

.suggested_city p:hover {
  color: #fff;
}


.top-deal-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.251fr);
  grid-gap: 2rem;
  text-align: left;
  padding-left: 336px;
  width: 100%;
}

.top-deal-each img {
  width: 100%;
}

.top-deal-location-details h4 {
  color: var(--blue);
  padding: 20px 10px 0px 15px;
}

.top-deal-location-details p {
  color: var(--grey);
  padding: 5px 0px 15px 15px;
}

.top-deal-location-details {
  color: var(--grey);
  border: 0.6px solid var(--black);
  border-top: 0;
  border-radius: 5px;
  margin-top: -8px;
}

.top-deal-each h4{
  font-size: 16px;
}

.top-deal-discount{
  padding: 8px;
  background-color:#fc8233;
  width: 150px;
  position: relative;
  bottom: 290px;
  right: 20px;
  color: #fff;
}

.cities-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.251fr);
  grid-gap: 2rem;
  text-align: left;
  padding-left: 336px;
  width: 100%;
}

.cities-grid img {
  width: 100%;
  opacity: 0.9px;
}

.cities-grid .cities{
  text-align: center;
}

.cities-grid .cities .city-name p{
  position: relative;
  bottom: 180px;
  font-size: 20px;
  color: #fff;
}

.cities-grid .cities .city-name h3{
  position: relative;
  bottom: 130px;
  color: #fff;
  font-size: 20px;
}
.state-grid {
  display: grid;
  grid-template-columns: repeat(4, 0.251fr);
  padding: 0px 0px 5% 23%;
  width: 82%;
  grid-gap: 1rem;
  text-align: left;
}

.state-grid a{
  color: #00aeff;
}

.special-deal-section {
  background: #fafafa;
}

.form-subscribe input {
  border: 1px solid var(--grey);
  padding: 10px 10px 10px 40px;
  margin: 45px 0px;
  border-radius: 5px;
  width: 35%;
}
.form-subscribe-btn, .btn{
  background: var(--blue);
  padding: 10px 40px;
  border-radius: 5px;
  width: 40%;
  color: #fff;
}

.featured-section {
  padding: 0% 20%;
}

.featured-header {
  margin-bottom: 7%;
}

.featured-flex {
  margin-right: 5px;
}

.featured-flex ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.featured-flex li {
  margin-right: 10%;
  list-style: none;
}

.featured-flex ul :nth-child(4) {
  margin-right: 0;
}

.more-booking-section p {
  padding-bottom: 2%;
}

.get-app-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10%;
  background: #EFF8FB;
}

.get-app-details {
  text-align: left;
  padding-left: 5%;
}

.get-app-details h2 {
  color: var(--blue);
  font-size: 50px;
  margin: 20px 0px 10px;
}

.get-app-details h3 {
  font-size: 30px;
  font-weight: 800;
  margin: 0px 0px 10px;
}

.unlock-deal {
  display: flex;
  background-color:#084482;
}

.icon-unlock {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icno-unlock i {
  display: inline-block;
  vertical-align: middle;
}

.unlock-deal {
  display: flex;
  padding: 16px;
  min-height: 95px;
  margin: 0;
}

.column-first {
  margin-left: 30rem;
  align-items: center;
  display: flex;
  width: 30%;
}

.unlock-deal-column-first-text {
  text-align: left;
  margin-left: 10px;
  width: calc(100% - 50px);
  padding-right: 10px;
}

.unlock-deal-column-first-text h3 {
  color: #fff;
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
}

.unlock-deal-column-first-text p {
  color: var(--blue);
  margin-bottom: 0;
}

.column-second {
  width: 50%;
}

.column-form {
  max-width: 450px;
  width: 100%;
  min-height: 63px;
  align-items: center;
  display: flex;
  width: 100%;
  min-height: 63px;
  justify-content: center;
}

.unlock-deal-section {
  margin-top: -0.4em;
}

.unlock-deal-section form input {
  width: 60%;
  padding: 0px  10px;
  height: 41px;
  margin-bottom: 0;
  outline: transparent;
  border-radius: 3px;
}

.unlock-deal-section input:last-of-type {
  width: 40%;
  margin-left: -6px;
  color: #fff;
  background-color:var(--blue);
  border: 0;
  transition: .3s ease-in-out;
}

.unlock-deal-column-btn {
  background: var(--blue);
  /* padding: 10px 40px; */
  border-radius: 5px;
  color: #fff;
}

.foot-container {
  text-align: left;
  padding: 0% 20%;
  display: flex;  
}

.same {
  width: 20%;
  margin-right: 0;
  /* float: left; */
}

.headers {
  color: #9fa7ad;
  border-bottom: 1px solid #e2e6e9;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.sub-footer-container {
  display: flex;
  padding: 4rem 22rem 0rem 22rem;
}

.sub-footer-copyright {
  display: flex;
}

.footer-social-icons {
  display: flex;
  padding-left: 1em;
}


.footer-social-icons li {
  display: flex;
  margin-right: 1rem;
}

.certify {
  display: inline-flex;
  list-style: none;
  justify-content: center;
  padding-left: 18em;
}

.certify-img-one {
  margin-top: -1em;
  width: 6em;
}

.certify-img-two {
  margin-left: -2em;
  width: 6em;
}

.bb{
  border-top: 1px solid  #e2e6e9;
}

/* Media Queries Start */
@media(max-width: 640px) {
  .whatsapp-icon,
  .booking-nav {
    display: none;
  }
}

.foot-container{
  margin-top:30px;
}

.foot-container p a{
  color: #00aeff;
}



